body {
    background-color: rgb(51, 236, 116);
}

h1 {
    color: rgb(28, 4, 4);
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20-px;
}